:root {
  --primary-color: darkcyan;
  --secondary-color: midnightblue;
  --primary-font: 'Kaushan Script', cursive;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.nav {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  color: var(--primary-color);
  max-width: 100%;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 30px;
  font-family: var(--primary-font);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 10px;

}



.links > li {
  margin: 10px;
  font-size: 30px;

}

.links > li > a {
  text-decoration: none;
  color: var(--primary-color);
}

.links > li > a:visited {
  text-decoration: none;
  color: var(--primary-color);
}


.home {
  font-size: 40px;
  margin: 10px;
}

.react-calendar {
  color: var(--secondary-color);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation button {
  color: var(--primary-color);
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "calendar calendar todo diary"
    "save save  todo diary"
    ". .  todo mood";
  font-family: var(--primary-font);
}

.calendar {
  grid-area: calendar;
}

.todo {
  grid-area: todo;
}

.diary {
  grid-area: diary;
}

.mood {
  grid-area: mood;
}

.moods {
  font-size: 30px;
}

.form-group {
  width: 50%;
  margin: auto;
  text-align: center;
}

.form-control {
  margin: 10px 0;
}

.save-btn {
    grid-area: save;

}